<?xml version="1.0" encoding="UTF-8"?>
<suite name="PhpTravels" verbose="1">
	<!-- <test name="Functional Tests"> <classes> <class name="com.selenium.hybridfw.tests.CarsTests" 
		/> <class name="com.selenium.hybridfw.tests.HomeTests" /> </classes> </test> -->

	<!-- <test name="Regression1"> <classes> <class name="test.sample.ParameterSample"/> 
		<class name="test.sample.ParameterTest"/> </classes> </test> -->

	<listeners>
		<listener class-name="com.selenium.hybridfw.utils.Listeners"></listener>
	</listeners>

	<test name="Data Tests">
		<parameter name="sUsername" value="testuser_1" />
		<parameter name="sPassword" value="Test@123" />
		<parameter name="hotelLocation" value="Bangalore" />
		<parameter name="results" value="No Results!!" />
		<classes>
			<class name="com.selenium.hybridfw.tests.HomeTests" />
		</classes>
	</test>
</suite>


